#header {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
}

#logo {
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

.light-nav-link {
    color: hsl(200, 15%, 8%);
    text-decoration: none;
}

.dark-nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

#logo > h3 {
    cursor: pointer;
    width: max-content;
}

#mode {
    cursor: pointer;
    grid-column: 9/11;
    text-align: center;
    width: max-content;
}

.dark-header {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}

.light-header {
    border-bottom: 1px solid rgb(241, 241, 241);
    background-color: hsl(0, 0%, 100%);
    color: hsl(200, 15%, 8%);
}
@media only screen and (max-width: 900px) {
    #header {
        display: flex;
        justify-content: space-around;
    }
}
