.App-body {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows: repeat(9, 10%); */
}

.Header {
  width: 100%;
  grid-row: 1;
  grid-column: span 10;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}

.logo {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}
.logo > h3 {
  cursor: pointer;
  width: max-content;
}

.Mode {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 9;
  cursor: pointer;
}

.Black {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.White {
  background-color: white;
  color: hsl(200, 15%, 8%);
  border-bottom: 1px solid rgb(241, 241, 241);
}
